html {
  position: relative;
  min-height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  margin-bottom: 54px;
}

@media screen and (max-width: 767px) {
  body {
    margin-bottom: 175px;
  }
}

.navbar-footer.navbar {
  bottom: 0;
  margin-bottom: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 1010;
}

.navbar-footer.navbar .navbar-nav > li i.fa {
  margin-left: 5px;
}

.navbar-footer.navbar .navbar-nav > li > .navbar-text {
  display: block;
}

@media screen and (max-width: 767px) {
  .navbar-footer.navbar {
    height: 155px;
  }
}

@media screen and (min-width: 768px) {
  .navbar-footer.navbar .navbar-nav > li+li:before {
    color: #999;
    content: '\B7';
    font-weight: bold;
    left: 0;
    line-height: 20px;
    padding: 6px 0;
    position: absolute;
    top: 2px;
  }
}
