<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Sample App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/canon-bootstrap/build/css/canon-bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="cbAppApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


    <!-- Utility Nav -->
    <div collapse="isCollapsed" class="navbar navbar-utility navbar-inverse navbar-collapse collapse" role="navigation">
      <div class="container">
          <ul class="nav navbar-nav navbar-left">
            <li><a href="#/">Demo App</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Feedback</a></li>
            <li><a href="#">Support</a></li>
            <li>
              <a class="dropdown-toggle" href="#">Account: rackspacecanon <span class="caret"></span></a>
            </li>
          </ul>
      </div>
    </div>
    <!-- End Utility Nav -->

    <!-- Primary Nav -->
    <nav class="navbar navbar-primary">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#rs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <i class="fa fa-bars fa-2x"></i>
          </button>
          <a href="/" class="navbar-brand" style="background:url('https://eafdbc63c97ce6bec9ef-b0a668e5876bef6fe25684caf71db405.ssl.cf1.rackcdn.com/v1-latest/logo-rackspace.png') center center no-repeat; min-width:164px;"></a>
        </div>
        <div collapse="isCollapsed" class="navbar-collapse collapse" id="rs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-left">
            <li ng-repeat="item in $state.current.data.navItems" ui-sref-active="active">
              <a ui-sref="{{item.link}}">
                {{item.name}}
              </a>
            </li>
          </ul>

        </div>
      </div>
    </nav>
    <!-- End Primary Nav -->

    <!-- Primary Nav (mobile) -->
    <!-- <nav class="navbar navbar-default hidden-xs" ng-if="navItems[active.nav].subNav">
      <div class="container">
        <ul class="nav navbar-nav navbar-left">
          <li ng-repeat="item in $state.current.data.navItems" ui-sref-active="active">
            <a ui-sref="{{item.link}}">
              {{item.name}}
            </a>
          </li>
        </ul>
      </div>
    </nav> -->
    <!-- END Primary Nav (mobile) -->

    <!-- MAIN Container -->
    <div class="container clearfix">
      <!-- Root UI View -->
      <div class="row fade-in" ui-view></div>
    </div>


    <!-- FOOTER -->
    <div class="navbar navbar-inverse navbar-footer hidden-print">
      <div class="container">
        <ul class="nav navbar-nav list-inline">
          <li>
            <span class="navbar-text text-center">&copy; 2015 Rackspace, US</span>
          </li>
          <li>
            <a class="text-center" href="#">Website Terms</a>
          </li>
          <li>
            <a class="text-center" href="#">Privacy Policy</a>
          </li>
          <li>
            <a class="text-center" href="#">Feedback <i class="fa fa-comment"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <!-- END FOOTER -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.tpl.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <script src="scripts/controllers/main-sidebar.js"></script>


    <!-- endbuild -->
</body>
</html>
