<div class="rs-main rs-panel">
  <div class="panel panel-section">

    <div class="panel-heading">
      <h1 class="panel-title">Cloud Servers</h1>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="col-sm-8">
          <button class="btn btn-primary">Crete Server</button>
          <button class="btn btn-default disabled">Delete Selected</button>
        </div>

        <div class="col-sm-4 pull-right text-right">

          <div class="input-group add-on">
            <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
            <div class="input-group-btn">
              <button class="btn btn-input" type="submit">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>

        </div>

      </div>

        <table class="table table-striped">
          <thead>
            <tr>
              <th class="rs-table-status"></th>
              <th class="rs-table-checkbox"><input type="checkbox" class="select-all"></th>
              <th class="rs-table-cog"></th>
              <th>
                <a href="#" class="rs-table-sort rs-table-sort-desc">
                  <span class="rs-table-sort-text">Name</span>
                  <span class="rs-table-sort-indicator"></span>
                </a>
              </th>
              <th>IP Address</th>
              <th>Monitoring</th>
            </tr>
          </thead>
          <tbody>
            <tr id="row-">
            <td class="test rs-table-status rs-table-status-ok" data-toggle="tooltip" data-placement="left" title="Active: Item is working correctly.">
            </td>
            <td class="rs-table-checkbox"><input type="checkbox"></td>
            <td class="rs-table-cog">
              <span class="fa fa-gear" data-toggle="popover" title="Example Popover"></span>
              <div class="rs-dropdown">
                <div class="rs-cog rs-dropdown-toggle"></div>
                <ul class="rs-dropdown-menu hidden">
                  <li class="rs-dropdown-item"><span class="rs-dropdown-category" id="first">Identify</span></li>
                  <li class="rs-dropdown-item"><a class="rs-dropdown-link" href="#">Rename Server…</a></li>
                  <li class="rs-dropdown-item"><a class="rs-dropdown-link" href="#">Tag Server…</a></li>
                  <li class="rs-dropdown-item"><span class="rs-dropdown-category">Image</span></li>
                  <li class="rs-dropdown-item"><a class="rs-dropdown-link" href="#">Create Image…</a></li>
                  <li class="rs-dropdown-item"><a class="rs-dropdown-link" href="#">Schedule Daily Image…</a></li>
                </ul>
              </div>
            </td>
            <td class="rs-table-text"><a ui-sref="home.right">My Cloud Server 1</a></td>
            <td class="rs-table-text">111.222.111</td>
            <td class="rs-table-status-list">

            </td>
          </tr>
          <tr id="row-">
            <td class="test rs-table-status rs-table-status-warning"  data-toggle="tooltip" data-placement="left" title="Warning: Something's not right">

            </td>
            <td class="rs-table-checkbox"><input type="checkbox"></td>
            <td class="rs-table-cog">
              <span class="fa fa-gear" data-toggle="popover" title="Example Popover"></span>
              <div class="rs-dropdown">
                <div class="rs-cog rs-dropdown-toggle"></div>
                <ul class="rs-dropdown-menu hidden">
                  <li class="rs-dropdown-item"><span class="rs-dropdown-category" id="first">Identify</span></li>
                  <li class="rs-dropdown-item"><a class="rs-dropdown-link" href="#">Rename Server…</a></li>
                  <li class="rs-dropdown-item"><a class="rs-dropdown-link" href="#">Tag Server…</a></li>
                  <li class="rs-dropdown-item"><span class="rs-dropdown-category">Image</span></li>
                  <li class="rs-dropdown-item"><a class="rs-dropdown-link" href="#">Create Image…</a></li>
                  <li class="rs-dropdown-item"><a class="rs-dropdown-link" href="#">Schedule Daily Image…</a></li>
                </ul>
              </div>
            </td>
            <td class="rs-table-text"><a ui-sref="home.right">My Cloud Server 1</a></td>
            <td class="rs-table-text">111.222.111</td>
            <td class="rs-table-status-list">

            </td>
          </tr>

          <tr id="row-">
            <td class="test rs-table-status rs-table-status-error" data-toggle="tooltip" data-placement="left" title="OMG: Not. Good.">

                <!--
                <div class='title rs-no-wrap rs-status-ok'><strong>Active</strong></div><div class='rs-quiet'>Use When: Item is working correctly.</div>
              -->

            </td>
            <td class="rs-table-checkbox"><input type="checkbox"></td>
            <td class="rs-table-cog">
              <span class="fa fa-gear" data-toggle="popover" title="Example Popover"></span>
              <div class="rs-dropdown">
                <div class="rs-cog rs-dropdown-toggle"></div>
                <ul class="rs-dropdown-menu hidden">
                  <li class="rs-dropdown-item"><span class="rs-dropdown-category" id="first">Identify</span></li>
                  <li class="rs-dropdown-item"><a class="rs-dropdown-link" href="#">Rename Server…</a></li>
                  <li class="rs-dropdown-item"><a class="rs-dropdown-link" href="#">Tag Server…</a></li>
                  <li class="rs-dropdown-item"><span class="rs-dropdown-category">Image</span></li>
                  <li class="rs-dropdown-item"><a class="rs-dropdown-link" href="#">Create Image…</a></li>
                  <li class="rs-dropdown-item"><a class="rs-dropdown-link" href="#">Schedule Daily Image…</a></li>
                </ul>
              </div>
            </td>
            <td class="rs-table-text"><a ui-sref="home.right">My Cloud Server 1</a></td>
            <td class="rs-table-text">111.222.111</td>
            <td class="rs-table-status-list">

            </td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>
</div>
