<div class="rs-facet-header">
  <h3>Filter Servers</h3>
</div>

<div class="panel panel-default rs-facet-section">
  <div class="panel-heading">Tags</div>

  <div class="list-group">
    <a href="#" class="list-group-item active">
      <span class="badge">14</span>
      Development
    </a>
    <a href="#" class="list-group-item">
      <span class="badge">14</span>
      Staging
    </a>
    <a href="#" class="list-group-item">
      <span class="badge">14</span>
      Production
    </a>
    <a href="#" class="list-group-item">
      <span class="badge">14</span>
      Billing
    </a>
    <a href="#" class="list-group-item">
      <span class="badge">14</span>
      Marketing
    </a>
    <a href="#" class="list-group-item">
      <span class="badge">14</span>
      Product
    </a>
    <a href="#" class="list-group-item">
      <span class="badge">14</span>
      Engineering
    </a>
    <a href="#" class="list-group-item">
      <span class="badge">14</span>
      Sales
    </a>
    <a href="#" class="list-group-item">
      <span class="badge">14</span>
      Finance
    </a>
  </div>
</div>
