<div class="rs-main rs-panel">
  <div class="panel panel-section">

    <div class="panel-heading">
      <h1 class="panel-title">Cloud Servers</h1>
    </div>

    <div class="panel-body">
      <p>{{$state.current.data.sidebar}}</p>
      <ul>
        <li class="active"><a href="#/">Home</a></li>
        <li><a ng-href="#/about">About</a></li>
      </ul>
      <p>
        <a ui-sref=".about" class="btn btn-primary">about</a> HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
      </p>

      <h4>Angular</h4>
      <p>
        {{$state.current}}
      </p>

    </div>

  </div>
</div>
