<h3>Managing Your Server</h3>
<h4>Log into your server now</h4>
<p>For Linux, use the command below to log in via SSH. Open a terminal application and run:</p>
<p></p><div class="highlight"><pre><code class="html">ssh root@101.122.44.211
</code></pre></div><p></p>
<p><a target="blank" href="http://www.rackspace.com/knowledge_center/article/remote-login-procedures">More Remote Login Commands »</a></p>
<hr>
<h4>Help Me With...</h4>
<ul>
<li><a target="blank" href="http://www.rackspace.com/knowledge_center/article/configuring-basic-security-0">Configuring Basic Security</a></li>
<li><a target="blank" href="http://www.rackspace.com/knowledge_center/article/rebuilding-a-server">Rebuilding My Server</a></li>
<li><a target="blank" href="http://www.rackspace.com/knowledge_center/article/creating-a-monitoring-check-using-the-cloud-control-panel">Creating a Monitoring Check</a></li>
</ul>
<p><a target="blank" href="http://www.rackspace.com/knowledge_center/article/learn-more-about-cloud-servers">Learn More about Cloud Servers »</a></p>
<hr>
<h4>What's Next</h4>
<ul>
<li><a target="blank" href="http://www.rackspace.com/knowledge_center/article/managing-dns">Configuring and Using DNS</a></li>
<li><a target="blank" href="http://www.rackspace.com/knowledge_center/article/configuring-a-cloud-load-balancer">Load Balancing My Servers</a></li>
<li><a target="blank" href="http://www.rackspace.com/knowledge_center/article/introduction-to-mailgun-email-automation">Configuring Outbound Email</a></li>
</ul>
<p><a target="blank" href="http://www.rackspace.com/knowledge_center/">Visit Our Knowledge Center »</a></p>
<hr>
<h4>Marketplace Tools</h4>
<ul>
<li><a target="blank" href="https://cloudtools.rackspace.com/apps/519?1166395936">Security: Cloud Passage Halo</a></li>
<li><a target="blank" href="https://cloudtools.rackspace.com/apps/263?427121319">Management: RightScale</a></li>
<li><a target="blank" href="https://cloudtools.rackspace.com/apps/347?2015636109">Application Monitoring: New Relic</a></li>
</ul>
<p><a target="blank" href="https://cloudtools.rackspace.com/home">Visit the Cloud Tools Marketplace »</a></p>
